<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="style.css" type="text/css">

	<title>Cadastro</title>
	<script>
		$(document).ready(function(){
			$('form').submit(function(e){    
				
				e.preventDefault();
				
				var nome = $('#nome').val().trim();
				
				var docCli = $('#docCli').val().trim();
				
				var sexo = $('#sexo').val().trim();
				
				var anoNascimento = $('#anoNascimento').val().trim();
				
				var cidade = $('#cidade').val().trim();
				
				var estado = $('#estado').val().trim();
				
				var senha = $('#senha').val().trim();

				var funcData = JSON.stringify({nome : nome, docCli : docCli, sexo : sexo, anoNascimento : anoNascimento, cidade : cidade, estado : estado, senha : senha});
				
				alert(funcData)
				
				jQuery.ajax({
					url : "/submitFunc",
					type : "POST",
					data : funcData,
					dataType : "json",
					contentType : "application/json; charset=utf-8",
					success : function() {
						alert("Save Success!")
					}
				});
				
			});
		});
	</script>
  </head>
  <body>
		
	<a href="/" id="link-voltar">
            <i class="fas fa-arrow-alt-circle-left ml-5 mt-5"></i>
            <span class="font-weight-bold">Voltar</span>
    </a>
	<div class="card bg-custom m-5 p-2">
        <div class="card bg-transparent form-style m-3 p-2 mb-5">
            <h1>Cadastro</h1>
        </div>
        <div class="mt-4 mx-4 px-4">
            <form class="row" id="form" method="post">
                <div class="form-group col-4">
                    <label for="email">Nome Completo:</label>
					<input type="text" required="required" id="nome" name="nome" style="width: 100%" value="" />
                </div>
                <div class="form-group col-4">
                    <label for="email">CPF:</label>
					<input type="text" required="required" id="docCli" name="docCli" style="width: 100%" value="" />
                </div>
                <div class="form-group col-4">
                    <label for="InputEmail">Sexo:</label>
                    <input type="text" required="required" id="sexo" name="sexo" style="width: 100%" value="" />
                </div>
                <div class="form-group col-4">
                    <label for="email">Ano de nascimento:</label>
					<input type="text" required="required" id="anoNascimento" name="anoNascimento" style="width: 100%" value="" />
                </div>
                <div class="form-group col-4">
                    <label for="InputCidade">Cidade:</label>
                    <input type="text" required="required" id="cidade" name="cidade" style="width: 100%" value="" />
                </div>
                <div class="form-group col-4">
                    <label for="InputEstado">Estado:</label>
                    <input type="tel" required="required" id="estado" name="estado" style="width: 100%" value="" />
                </div>
                <div class="form-group col-4">
                    <label for="InputEstado">Senha:</label>
                    <input type="password" required="required" id="senha" name="senha" style="width: 100%" value="" />
                </div>
                <button type="submit" class="btn btn-custom m-4">Cadastrar</button>
            </form>
        </div>
    </div>
	<footer>
        <div class="float-right">
            <label>Nossas Redes Sociais:</label>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </footer>			
	</body>
</html>
