<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="style.css" type="text/css">
	<script>
		$(document).ready(function(){
			$('form').submit(function(e){    
				
				e.preventDefault();
				
				var docCli = $('#docCli').val().trim();
				
				var senha = $('#senha').val().trim();

				var LoginData = JSON.stringify({docCli : docCli, senha : senha});
				
				alert(LoginData)
				
				jQuery.ajax({
					url : "/Login",
					type : "POST",
					data : LoginData,
					dataType : "json",
					contentType : "application/json; charset=utf-8",
					success : function() {
						alert("Save Success!")
					}
				});
				
			});
		});
	</script>
    <title>Login</title>
</head>
<body>
    <div>
        <img src="img/img-login.jpg" class="img-fluid float-left" alt="Imagem login" id="imagemlogin">
        <div class="card border-0 p-5" id="login">
            <div class="card-body">
                    <a href="#" id="link-voltar">
                        <i class="fas fa-chevron-left mb-5" id="seta"></i>
                        <label id="voltar">Voltar</label>
                    </a>
                </i>
                <form>
                    <div class="form-group">
                        <label for="InputDoc">CPF ou CNPJ:</label>
                        <input type="Doc" name="docCli" class="form-control form-style mb-5" id="docCli" aria-describedby="Doc" >
                    </div>
                    <div class="form-group">
                        <label for="InputSenha">Senha:</label>
                        <input type="password" name="senha" class="form-control form-style" id="senha" aria-describedby="Senha" >
                    </div>
                    <button type="submit" class="btn mt-4 btn-custom">Entrar</button>
                    <div>
                        <span>Não possui uma conta?
                            <a href="/cadastro">Cadastre-se já!</a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>