<!DOCTYPE HTML>
<html lang="pt-BR">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="css/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="style.css" type="text/css">
	<title>Cadastro</title>
	<script>
		$(document).ready(function(){
			$('form').submit(function(e){    
				
				e.preventDefault();
				
				var nome = $('#nome').val().trim();
				
				var docCli = $('#docCli').val().trim();
				
				var dataNasc = $('#dataNasc').val().trim();
				
				var emailCli = $('#emailCli').val().trim();
				
				var telefone = $('#telefone').val().trim();

				var funcData = JSON.stringify({nome : nome, docCli : docCli, dataNasc : dataNasc, emailCli : emailCli, telefone : telefone});
				
				alert(funcData)
				
				jQuery.ajax({
					url : "/submitFunc",
					type : "POST",
					data : funcData,
					dataType : "json",
					contentType : "application/json; charset=utf-8",
					success : function() {
						alert("Save Success!")
					}
				});
				
			});
		});
	</script>
  </head>
  <body>
		
	
	<div class="card bg-custom m-5 p-2">
        <div class="card bg-transparent form-style m-3 p-2 mb-5">
            <h1>Cadastro</h1>
        </div>
        <div class="mt-4 mx-4 px-4">
            <form class="row" id="form" method="post">
                <div class="form-group col-4">
                    <label for="email">Nome Completo:</label>
					<input type="text" required="required" id="nome" name="nome" style="width: 100%" value="" />
                </div>
                <div class="form-group col-4">
                    <label for="email">CPF:</label>
					<input type="text" required="required" id="docCli" name="docCli" style="width: 100%" value="" />
                </div>
                <div class="form-group col-4">
                    <label for="email">Data de nascimento:</label>
					<input type="date" required="required" id="dataNasc" name="dataNasc" style="width: 100%" value="" />
                </div>
                 <div class="form-group col-4">
                    <label for="InputEmail">E-mail:</label>
                    <input type="email" required="required" id="emailCli" name="emailCli" style="width: 100%" value="" />
                </div>
                <div class="form-group col-4">
                    <label for="InputCelular">(DDD) Celular:</label>
                    <input type="tel" required="required" id="telefone" name="telefone" style="width: 100%" value="" />
                </div>
                
                <button type="submit" class="btn btn-custom m-4">Cadastrar</button>
            </form>
        </div>
    </div>
				
	</body>
</html>